@charset "UTF-8";
/*Codes couleurs*/
/*Polices*/
/*Shrikhand*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*Roboto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;500&display=swap");
h1 {
  font-family: 'Shrikhand', cursive;
}

h2, h3, p, nav input, figure, li {
  font-family: 'Roboto', sans-serif;
}

/*Mixin Index+Menus header*/
/*Mixin Index only*/
/*Mixin Menus only*/
/*Mixin Index+Menus footer*/
/*Mixin boutons, effets,..*/
/*Mixin Keyframes*/
@-webkit-keyframes rotationspinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    opacity: 0.90;
  }
  99% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotationspinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    opacity: 0.90;
  }
  99% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bodyeffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bodyeffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animationmenus {
  0% {
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes animationmenus {
  0% {
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

/*Mobile First
/*Géneral*/
body {
  margin: 0px;
}

/*Header + main*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

i.fa-solid.fa-arrow-left {
  color: #777777;
  left: 12px;
  position: absolute;
  font-size: 30px;
}

aside img {
  margin-top: -40px;
  max-width: 100%;
  min-width: 100%;
  position: relative;
  bottom: -40px;
  max-height: 300px;
}

h1 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f3f3f3;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 50px;
  font-size: 28px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  margin-top: -50px;
  padding-bottom: 70px;
  background-color: #f3f3f3;
}

/*Section*/
section {
  margin-left: 12px;
  margin-right: 15px;
  padding: 8px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 5px 5px #e6e6e6;
          box-shadow: 0px 5px 5px #e6e6e6;
  border-radius: 12px;
  background-color: white;
}

section h3 {
  margin-top: 2px;
  font-size: 16px;
  margin-bottom: 0px;
}

section figure {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section p {
  font-weight: 100;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 2px;
}

section:hover {
  opacity: 0.75;
  -webkit-box-shadow: 1px 0px 10px black;
          box-shadow: 1px 0px 10px black;
}

h2 {
  font-weight: 100;
  margin-left: 12px;
  margin-top: 40px;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

figure.btnexplore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 10px;
  width: 140px;
  border-radius: 35px;
  color: white;
  font-size: 12px;
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  -webkit-box-shadow: 0px 1px 2px black;
          box-shadow: 0px 1px 2px black;
  margin-top: 40px;
}

figure.btnexplore:hover {
  opacity: 0.75;
  -webkit-box-shadow: 1px 0px 10px black;
          box-shadow: 1px 0px 10px black;
}

/*Footer*/
footer {
  background-color: #2b2b2b;
  color: white;
  padding-bottom: 20px;
  font-weight: 100;
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  padding-top: 20px;
  padding-left: 10px;
  height: 15px;
}

footer ul {
  padding-left: 5px;
}

footer li {
  list-style: none;
  font-size: 14px;
  margin: 8px;
}

footer a {
  text-decoration: none;
  color: white;
}

i.fa-utensils, i.fa-handshake-angle {
  margin-right: 5px;
  width: 15px;
}

/*Responsive Tablet + Desktop*/
@media screen and (min-width: 800px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0px;
    padding-right: 20px;
  }
  h1 {
    padding-bottom: 0px;
    padding-right: 300px;
    margin-bottom: 0px;
  }
  aside img {
    position: absolute;
    -webkit-box-shadow: 1px 0px 10px black;
            box-shadow: 1px 0px 10px black;
    top: 0px;
    right: 0px;
    max-width: 250px;
    min-width: 250px;
    height: 200px;
  }
  article {
    width: 30%;
  }
}

/*Animations*/
a.G1-Entrées h2 {
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

section.G1-Entrées1 {
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

section.G1-Entrées2 {
  opacity: 0;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

section.G1-Entrées3 {
  opacity: 0;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

section.G1-Entrées4 {
  opacity: 0;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

a.G2-Plats h2 {
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

section.G2-Plats1 {
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

section.G2-Plats2 {
  opacity: 0;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

section.G2-Plats3 {
  opacity: 0;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

section.G2-Plats4 {
  opacity: 0;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

a.G3-Desserts h2 {
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

section.G3-Desserts1 {
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

section.G3-Desserts2 {
  opacity: 0;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

section.G3-Desserts3 {
  opacity: 0;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

section.G3-Desserts4 {
  opacity: 0;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-name: animationmenus;
          animation-name: animationmenus;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

/*Coeurs*/
.parentcoeur {
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
  position: relative;
  background-color: red;
}

i.i1.fas.fa-heart {
  color: #9356DC;
  opacity: 1;
  font-size: 30px;
  text-shadow: 0px 0px 2px black;
  position: absolute;
}

i.i2.fas.fa-heart {
  color: #f3f3f3;
  font-size: 30px;
  text-shadow: 0px 0px 2px black;
  position: absolute;
}

i.i2.fas.fa-heart:hover {
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
/*# sourceMappingURL=stylesecond.css.map */