/*Mixin Index+Menus header*/
@mixin headerstyle{    
    display: flex;
    justify-content: center;
    padding: 10px;}

/*Mixin Index only*/
@mixin fonctionnementmenu {
    display: flex;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 12px;
    margin-bottom: 24px;
    background-color:$colorgrisclair;
    align-items: center;
    justify-content:space-around;
    box-shadow: 0px 5px 5px $colorgrisfonce;
    padding-top:10px;
    padding-bottom:10px;
    padding-right: 10%;}
@mixin primarynumbertheme {
    background-color: $colorprimary;
    color:white;
    font-weight:500;
    font-size: $Numbersize+2;
    height: $Numbersize+1;
    width: $Numbersize+1;
    padding: $Numbersize;
    border-radius: 50%;
    position: relative;
    left:-15px;}
@mixin imagemenuindex {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    max-width: 100%;
    min-width: 100%;
    max-height: 80%;
    min-height: 80%;
    object-fit:cover}
@mixin indexnouveau{
    background-color: rgb(104, 224, 204);
        color:rgb(58, 126, 114);
        width: 80px;
        height:30px;
        font-size: 14px;
        right:15px;
        top:5px;
        position:absolute;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;}

/*Mixin Menus only*/   
@mixin menus-styleh1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: $colorgrisclair;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 50px;
    font-size:28px;
    top:20px;
    display: flex;
    justify-content: space-between;}
@mixin menus-styleimage{    
    margin-top: -40px;
    max-width: 100%;
    min-width: 100%;
    position:relative;
    bottom: -40px;
    max-height: 300px;}
@mixin menuarticlesform{   
    margin-left:12px;
    margin-right:15px;
    padding:8px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px $colorgrisfonce;
    border-radius: 12px;
    background-color: white;}
@mixin menuarticlesh3{
    margin-top:2px;
    font-size: 16px;
    margin-bottom:0px;}
@mixin menuarticlesp {
    font-weight: 100;
    font-size: 14px;
    margin-top:5px;
    margin-bottom: 2px;}
@mixin menuarticlefigure{
    margin:0px;
    display: flex;
    justify-content: space-between;}
@mixin menuarticlesh2{
    font-weight: 100;
    margin-left: 12px;
    margin-top:40px;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 3px solid $colortertiary;
    width:40px;}

/*Mixin Index+Menus footer*/
@mixin mixinfooter-base {
    background-color: $colorgrisdark;
    color: white;
    padding-bottom: 20px;
    font-weight: 100;}
@mixin mixinfooter-img{
    filter: invert(1);
    padding-top: 20px;
    padding-left: 10px;
    height: 15px;}
@mixin mixinfooter-ul {
    padding-left: 5px;}
@mixin mixinfooter-li {
    list-style: none;
    font-size: 14px;
    margin:8px}
@mixin mixinfooter-a {
    text-decoration: none;
    color: white;}

/*Mixin boutons, effets,..*/
@mixin multicolorbtn {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 140px;
    border-radius: 35px;
    color: white;
    font-size: 12px;
    background: linear-gradient(350deg, $colorprimary,$colorsecondary);
    box-shadow: 0px 1px 2px black;}
@mixin hovereffet{
    opacity:0.75;
    box-shadow: 1px 0px 10px black;}

