@keyframes rotationspinner{
    0% {rotate:0deg}
    80%{opacity: 0.90;}
    99%{rotate:360deg}
    100%{opacity: 0;}}

@keyframes bodyeffect{
    0% {opacity: 0;}
    100% {opacity: 1;}}

@keyframes animationmenus{
    0%{transform:translate(0px, 100px)}
    0% {opacity: 0;}
    100%{transform:translate(0px, 0px)}
    100%{opacity: 1;}}