@keyframes rotationspinner{
    0% {transform :rotate(0deg)}
    80%{opacity: 0.90;}
    99%{transform :rotate(360deg)}
    100%{opacity: 0;}}

@keyframes bodyeffect{
    0% {opacity: 0;}
    100% {opacity: 1;}}

@keyframes animationmenus{
    0%{
        transform:translate(0px, 20px);
        opacity: 0;}
    100%{
        transform:translate(0px, 0px);
        opacity: 1;}}


@keyframes Plattaillebloc {
    0% {width:6px}
    100%{width:80px}   }
            
@keyframes Platrotation{
    0% {transform: rotate(-270deg);}
    100% {transform: rotate(0deg);}}