/*A coder ultérieurement*/
/*@media screen and (max-width: 800px) {}*/

/*Géneral*/
body {margin: 0px;}

/*Header + main*/
header{@include headerstyle;}
i.fa-solid.fa-arrow-left {
    color:$colorgrissmalldark;
    left:12px;
    position: absolute;
    font-size: 30px;}
aside img{@include menus-styleimage}
h1 {@include menus-styleh1}  
main {
    margin-top: -50px;
    padding-bottom: 70px;
    background-color: $colorgrisclair;}

.logo2{border: 5px solid blue;}


/*Section*/
section {@include menuarticlesform;
    h3{@include menuarticlesh3}
    figure{@include menuarticlefigure}
    p{@include menuarticlesp;}
    &:hover{@include hovereffet}
}

h2 {@include menuarticlesh2}

figure.btnexplore {@include multicolorbtn;
    margin-top:40px;
    &:hover{@include hovereffet}}

/*Footer*/
footer{@include mixinfooter-base;
    img{@include mixinfooter-img}
    ul{@include mixinfooter-ul}
    li{@include mixinfooter-li}
    a {@include mixinfooter-a}
    }

i.fa-utensils,i.fa-handshake-angle{
    margin-right:5px;
    width: 15px;}