/*Codes couleurs*/
$colorprimary: #9356DC;
$colorsecondary: #FF79DA;
$colortertiary:#99E2D0;

/*Polices*/
/*Shrikhand*/ @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/*Roboto*/ @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


/*font-family: 'Shrikhand', cursive;*/
/*font-family: 'Roboto', sans-serif;*/