/*Codes couleurs*/
$colorprimary: #9356DC;
$colorsecondary: #FF79DA;
$colortertiary:#99E2D0;
$colorgrisdark:rgb(43, 43, 43);
$colorgrissmalldark:rgb(119, 119, 119);
$colorgrisfonce:rgb(230, 230, 230);
$colorgrisclair:rgb(243, 243, 243);
$Numbersize: 9px;


/*Polices*/
/*Shrikhand*/ @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/*Roboto*/ @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;500&display=swap');

h1{font-family: 'Shrikhand', cursive;}
h2,h3,p,nav input,figure,li{font-family: 'Roboto', sans-serif;}